@import "common/flex.css";
@import "common/image.css";
@import "common/card.css";
@import "common/gutters.css";

:root {
    --header-background: #1E88E5;
    --border-color: #546E7A;
}

body {
    margin: 0;
}

#main {
    width: 1264px;
}

@media(min-width: 1264px) {
    #main {
        margin: auto;
        max-width: 1264px;
    }
}