ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav {
    background-color: var(--header-background);
    border-radius: 3px;
    border: 1px solid var(--border-color);
    height: 56px;
}

#nav a {
    text-decoration: none;
}

@media(min-width: 1264px) {
    .nav--content {
        padding: 0 calc((100vw - 1264px - 16px) / 2);
    }
}